.btn {
  font-size: 24px;
  line-height: 1.33;
  font-family: "flexobold";
  text-align: center;
  height: 72px;
  border: 0;
  outline: none;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.5px;
  z-index: 999;
  cursor: pointer;
  box-shadow: 0 5px 5px -3px rgba(82, 112, 148, 0.2),
    0 3px 14px 2px rgba(82, 112, 148, 0.12),
    0 8px 10px 1px rgba(82, 112, 148, 0.14);
}

.btn-type-2 {
  font-size: 24px;
  line-height: 1.33;
  font-family: "flexobold";
  text-align: center;
  height: 72px;
  border: 0;
  outline: none;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.5px;
  z-index: 999;
  cursor: pointer;
  box-shadow: 0 5px 5px -3px rgba(82, 112, 148, 0.2),
    0 3px 14px 2px rgba(82, 112, 148, 0.12),
    0 8px 10px 1px rgba(82, 112, 148, 0.14);
}



.btn .disabled {
  background-color: #e5e7eb;
  color: #868f9e;
}
.btn-primary {
  background-color: #ff7800;
  color: #ffffff;
}

.btn-light {
  background-color: #ffffff;
  color: #606c7f;
  border: solid 2px #acb2bd;
}

.btn-light-one-border {
  background-color: #ffffff;
  color: #606c7f;
  border: solid 1px #acb2bd;
}


.btn-light-disabled {
  background-color: #ffffff;
  border: solid 2px #e5e7eb;
}

.btn-secondary {
  background-color: #001a54;
  color: #ffffff;
  border: solid 2px #ffffff;
  box-shadow: none;
}
.btn-default {
  background-color: transparent;
  color: #ffffff;
  border: solid 2px #ffffff;
  box-shadow: none;
}

.btn-default-small {
  height: 48px;
  background-color: transparent;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 22px;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: none !important;
}

.btn-secondary-small {
  height: 48px;
  background-color: #002886;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 22px;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: none !important;
}
.btn-info {
  background-color: #002473;
  color: #ffffff;
}
.btn-info-small {
  height: 44px;
  background-color: #ffffff;
  color: #606c7f;
  border-radius: 22px;
  border: solid 2px #acb2bd;
  font-size: 16px;
  box-shadow: none !important;
}
.btn-link {
  color: #ff7800;
  background: #ffffff !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  height: 100%;
  border: 0;
  cursor: pointer;
}

.btn-link-small {
  color: #ff7800;
  background: #ffffff !important;
  box-shadow: none !important;
  height: 100%;
  border: 0;
  cursor: pointer;
}

.btn-link-blue {
  background-color: transparent;
  color: #ffffff;
  box-shadow: none;
}
.btn-light-img img:nth-child(2) {
  display: none;
}
.btn-light-img.activeButton img:first-child {
  display: none;
}
.btn-light-img.activeButton img:nth-child(2) {
  display: inline-block !important;
}

.b-radius-24 {
  border-radius: 24px !important;
}

.btn-guardar {
  height: 48px;
  border-radius: 24px;
  border: solid 2px #acb2bd;
  background-color: #ffffff;
  outline: none;
  vertical-align: middle;
  z-index: 999;
  font-family: "flexobold";
  font-size: 16px;
  cursor: pointer;
  color: #606c7f;
}
/*----------Actives----------*/

/* ----------------------------------------------
 * Generated by Animista on 2020-6-22 10:5:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/* agregar la clase a los botones para el efecto del press */
.activeButton {
  -webkit-animation: heartbeat 1s ease-in-out both;
  animation: heartbeat 1s ease-in-out both;
  background-color: #ff7800;
  color: #ffffff !important;
  box-shadow: none;
  border: none;
}


.activeButton .text-print{
  color: #ffffff !important;
}



/* disabled */
.disabledOpacity {
  color: #ffffff !important;
  border: solid 2px #ffffff;
  background: transparent !important;
  box-shadow: none !important;
  opacity: 0.3;
}


.activeButtonNew{
  -webkit-animation: heartbeat 1s ease-in-out both;
  animation: heartbeat 1s ease-in-out both;
}

.activeButtonNewsStyle{
  opacity: 0.9;
}